    body {
        background-color: #1E1E24;
        background-image: url(https://architizer-prod.imgix.net/media/1436236664388004-1FMinsheng_Art_Museum.jpg?fit=max&w=1680&q=60&auto=format&auto=compress&cs=strip&h=945);
        background-size: cover;
        object-fit: cover;
        margin: 0px;
    }
    
    .title {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.929);
    }
    
    .title img {
        margin-left: 120px;
        margin-bottom: 8px;
        width: 10%;
        background-repeat: no-repeat;
    }
    
    .text {
        width: auto;
        margin: 120px;
    }
    
    .text .p-text {
        width: 650px;
    }
    
    button {
        background-color: rgb(149, 98, 2);
        color: white;
        width: 220px;
        border-radius: 10px;
        border: 10px solid rgb(149, 98, 2);
    }
    
    h2 {
        font-family: sans-serif;
        margin-bottom: 0;
    }